<!-- <p>footer works!</p> -->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- logo -->
    <link rel="icon" type="image/png" href="assets/image/fav_icon.png"/>

    <title>Yaari</title>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- ///// Owl Slider Css ///// -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

  </head>
<body>



<!-- Breadcrumb section -->


<!-- Breadcrumb End -->

<!-- Sign In section -->


<!-- Sign In section End -->

<!-- Social Icons -->

<section class="social_icons_sec mb-5 pb-0">
  <div class="row mx-0">
    <div class="col-lg-12 text-center">
      <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="assets/image/fb_icon.svg" width="26" height="26">
          </a>
        </li>
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="assets/image/twitter_icon.svg" width="26" height="26">
          </a>
        </li>
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="assets/image/insta_icon.svg" width="26" height="26">
          </a>
        </li>
        <li class="float-left px-3">
          <a href="javaScript:void(0)">
            <img src="assets/image/youtube_icon.svg" width="26" height="26">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Social Icons End -->

<!-- Footer -->

<footer class="footer_main">
  <div class="container-fluid">
    <div class="row px-5">
      <div class="col-lg-3">
        <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
          Contact us
        </h4>
        <div class="footer_contact_det position-relative w-100 mb-3 d-inline-block">
          <span class="footer_contact_det_icons">
            <img class="img-fluid" src="assets/image/ft_home.svg" width="22" height="22">
          </span>
          <span class="d-block float-left w-75 text-gray font-18 pl-4 ml-2">
            One International Center, 4th Floor, Tower 1, Senapati Bapat Marg, Dadar West, Prabhadevi,
            <br>
            <br>
            Mumbai Maharashtra - 400013  
          </span>
        </div>
        <div class="footer_contact_det position-relative w-100 mb-3 d-inline-block">
          <span class="footer_contact_det_icons">
            <img class="img-fluid" src="assets/image/ft_call.svg" width="22" height="22">
          </span>
          <span class="d-block float-left text-gray font-18 pl-4 ml-2">
            +91-9152 990 990
          </span>
        </div>
        <div class="footer_contact_det position-relative w-100 mb-3 d-inline-block">
          <span class="footer_contact_det_icons">
            <img class="img-fluid" src="assets/image/ft_mail.svg" width="22" height="22">
          </span>
          <span class="d-block float-left text-gray font-18 pl-4 ml-2">
            helpme@yaari.com
          </span>
        </div>
      </div>
      <div class="col-lg-3">
        <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
          Help
        </h4>
        <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Search
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Help
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Information
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Privacy Policy
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Shipping Details
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
          Support
        </h4>
        <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Contact Us
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              About Us
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Careers
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Refund & Returns
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Deliveries
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4 class="text-dark font-500 d-inline-block mb-5 w-100">
          Information
        </h4>
        <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Search Teams
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Advance Search
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Help & FAQ's
            </a>
          </li>
          <li class="mb-3">
            <a href="javaScript:void(0)" class="font-18 text-gray">
              Orders & Returns
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Footer End -->

<!-- Other Links -->

<section class="social_icons_sec py-4">
  <div class="row mx-0">
    <div class="col-lg-12 text-center">
      <ul class="p-0 m-0 d-inline-block" style="list-style-type:none;">
        <li class="float-left px-4">
          <a href="javaScript:void(0)" class="font-18 text-gray">
            Search
          </a>
        </li>
        <li class="float-left px-4">
          <a href="javaScript:void(0)" class="font-18 text-gray">
            Help
          </a>
        </li>
        <li class="float-left px-4">
          <a href="javaScript:void(0)" class="font-18 text-gray">
            Information
          </a>
        </li>
        <li class="float-left px-4">
          <a href="javaScript:void(0)" class="font-18 text-gray">
            Privacy Policy
          </a>
        </li>
        <li class="float-left px-4">
          <a href="javaScript:void(0)" class="font-18 text-gray">
            Shipping Details
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Other Links End -->

<!-- Blank -->
<!-- <div class="w-100 d-flex py-4" style="background: #363636;"></div> -->
<!-- Blank -->



</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- ////////// Owl Slider JS ////// -->
<script src="/assets/js/owl.carousel.min.js"></script>

<script>
     
////  Header Banners OWL

// $('.owl-carousel-header-banners').owlCarousel({
//   loop:true,
//   margin:0,
//   nav:false,
//   responsive:{
//     0:{
//         items:1
//     },
//     600:{
//         items:1
//     },
//     1000:{
//         items:1
//     }
//   }
// });
    
// ////  Blog list OWL

// $('.owl-carousel-blog-list').owlCarousel({
//   loop:true,
//   margin:30,
//   nav:false,
//   responsive:{
//     0:{
//         items:1
//     },
//     600:{
//         items:2
//     },
//     1000:{
//         items:3
//     }
//   }
// });

// // Mega Menu

// $(document).ready(function() {
//   "use strict";
//   $('.menu > ul > li:has( > ul)').addClass('menu-dropdown-icon');
//   $('.menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
//   $(".menu > ul").before("<a href=\"#\" class=\"menu-mobile\">&nbsp;</a>");
//   $(".menu > ul > li").hover(function(e) {
//     if ($(window).width() > 943) {
//       $(this).children("ul").stop(true, false).fadeToggle(150);
//       e.preventDefault();
//     }
//   });
//   $(".menu > ul > li").click(function() {
//     if ($(window).width() <= 943) {
//       $(this).children("ul").fadeToggle(150);
//     }
//   });
//   $(".menu-mobile").click(function(e) {
//     $(".menu > ul").toggleClass('show-on-mobile');
//     e.preventDefault();
//   });
// });
// $(window).resize(function() {
//   $(".menu > ul > li").children("ul").hide();
//   $(".menu > ul").removeClass('show-on-mobile');
// });

</script> 


</html>